@charset "utf-8";
body{
    background: #f1f1f1;
}
#outerWrap{
    width:100%;
    .content{
        width:100%;
        max-height: 999rem;
        padding: .6rem .4rem 0;
        box-sizing: border-box;
        .text{
            width:100;
            line-height: 2;
            letter-spacing: .03rem;
            p{
                margin-bottom: .7rem;
            }
        }
    }
}

